{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{=A('Home', _class='btn btn-primary', _href=URL('default','index'))}}
{{=A('Edit', _class='btn btn-primary', _href=URL('default','user', args=['profile']))}}
<h1 align="center">Profile</h1>

<style type="text/css">
#ProfilePage
{
    margin: 50px auto;
    width: 635px;
}

#LeftCol
{
    /* Move it to the left */
    float: left;
    
    height:200px;
    width: 200px;
    text-align: left;

    /* Move it away from the content */
    margin-right: 20px;

}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

}

#PhotoOptions
{
    text-align: center;
    width: 200px;


}
    
    
#Info
{
    width: 500px;
    text-align: left;

    /* Move it to the left */
    float: left;

}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 500px;

}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;

}
</style>


<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo">
            {{=IMG(_src=URL('download',args=[something.Profile_pic]), _height=200, _width=200)}}
        </div>
    </div>

    <div id="Info">

        <p>
            <strong>First Name</strong>
            <span>{{=something.first_name}}</span>
        </p>
        <p>
            <strong>Last Name</strong>
            <span>{{=something.last_name}}</span>
        </p>
        <p>
            <strong>Address</strong>
            <span>{{=something.Address}}</span>
        </p>
        <p>
            <strong>Do you own a car?</strong>
            <span>{{=something.Own_a_Car}}</span>
        </p>
        <p>
            <strong>Driving Experience(in years)</strong>
            <span>{{=something.Driving_Experience}}
               </span>
        </p>
    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>

{{form}}
