{{extend 'layout.html'}}
{{=A('Home', _class='btn btn-warning', _href=URL('default','index'))}}
<h1>
    About Us:
</h1>

<p>
 We are a group of students trying to help students and commuters find carpool rides as well as find cheaper alternatives to public transportations.
</p>
<p>
 Contact Us by Leaving a Review and we'll message you as soon as possible.
 We hope you find an affortable ride.
</p>
<div> <a href="review.html">Leave a Review</a> </div>
<img src="http://www.jenspreshaw.com/images/large/Winter-Road.jpg" alt="Mountain View" style="width:304px;height:228px;">
<img src="http://photanovicimages.zenfolio.com/img/s2/v1/p830612011-3.jpg" alt="Mountain View" style="width:304px;height:228px;">
<img src="http://s.imwx.com/common/articles/images/summer-road-trip-default_650x366.jpg" alt="Mountain View" style="width:304px;height:228px;">
<img src="http://us.123rf.com/450wm/wajan/wajan1303/wajan130300014/18299463-mountain-spring-road.jpg" alt="Mountain View" style="width:304px;height:228px;">
